@model IEnumerable<KT0720HoHoangKha_62130808.Models.SinhVien>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenSV", rowsPerPage: 3);
}

<div class="w3-padding" style="height: 610px;">
    <div id="title" class="w3-content">
        <h2 class="">TÌM KIẾM SINH VIÊN</h2>
        <hr />
    </div>
    <div id="form" class="w3-content w3-padding">
        @using (Html.BeginForm("Search", "SinhVien0720_62130808", FormMethod.Get))
        {
            @Html.AntiForgeryToken()
            <table style="padding: 10px 300px">
                <tr class="w3-padding">
                    <td>Mã sinh viên: </td>
                    <td>
                        <input type="text" name="maSV" value="@ViewBag.maSV" />
                    </td>
                </tr>
                <tr>
                    <td>Họ tên sinh viên: </td>
                    <td>
                        <input type="text" name="hoTen" value="@ViewBag.hoTen" />
                    </td>
                </tr>
            </table>
            <div class="w3-center">
                <input type="submit" name="submit" value="Tìm kiếm" class="w3-button w3-green" />
                <input type="button" name="reset" value="Nhập mới" class="w3-button w3-blue" onclick="location.href='@Url.Action("Search", "SinhVien0720_62130808")'" />
            </div>
        }
    </div>
    <div id="gridContent">
        @ViewBag.TB
        @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            footerStyle: "grid-footer",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
            columns: new[]  // colums in grid
            {
                grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
                grid.Column("MaSV","Mã sinh viên"), //the model fields to display
                grid.Column("HoSV","Họ sinh viên"  ),
                grid.Column("TenSV","Tên sinh viên"),
                grid.Column("NgaySinh","Ngày sinh",format:@<text> @item.NgaySinh.ToString("dd/MM/yyyy")</text>),
grid.Column("GioiTinh","Giới tính",format: (@item) => @item.GioiTinh==true?"Nam":"Nữ"),
grid.Column("AnhSV","Ảnh sinh viên"@*format:@<text> @item.Luong.ToString("#,##0")</text>*@),
grid.Column("DiaChi","Địa chỉ"),
grid.Column("Lop.TenLop","Lớp"),
/*grid.Column(format: (item) => Html.ActionLink("Cập nhật", "Edit", "SinhVien0720_62130808",new { id = item.MaSV },"SinhVien0720_62130808Controller")),
grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","SinhVien0720_62130808", new { id = item.MaSV },"SinhVien0720_62130808Controller")),
grid.Column(format: (item) => Html.ActionLink("Xóa", "Delete","SinhVien0720_62130808", new { id = item.MaSV },"SinhVien0720_62130808Controller")),*/
grid.Column("Chức năng", format: @<text>
        <a href="@Url.Action("Edit", new { id = item.MaSV})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="/images/edit.png" width="20" height="20" /></abbr></a>
        <a href="@Url.Action("Details", new { id = item.MaSV})" class="edit-btn"><abbr title="Xem chi tiết"><img src="/images/details.png" width="20" height="20" /></abbr></a>
        <a href="@Url.Action("Delete", new { id = item.MaSV})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="/images/delete.png" width="20" height="20" /></abbr></a>
    </text>
),
}
)
    </div>
</div>


