@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='main.js'></script>
</head>
<body>
    <header class="w3-green">
        <div class="w3-container w3-center w3-padding">
            <h1>HỆ THỐNG QUẢN LÝ NHÂN VIÊN</h1>
        </div>
        <div class="w3-bar w3-light-green">
            <div class="w3-left">
                @Html.ActionLink("GIỚI THIỆU", "../SinhVienKT0720_62133366/Introduction", "", htmlAttributes: new { @class = "w3-bar-item w3-button w3-hover-none w3-hover-text-red" })
                @Html.ActionLink("THÊM MỚI", "../SinhVienKT0720_62133366/Create", "", htmlAttributes: new { @class = "w3-bar-item w3-button w3-hover-none w3-hover-text-red" })
                @Html.ActionLink("DANH SÁCH", "../SinhVienKT0720_62133366/Index", "", htmlAttributes: new { @class = "w3-bar-item w3-button w3-hover-none w3-hover-text-red" })
                @Html.ActionLink("TÌM KIẾM", "../SinhVienKT0720_62133366/Search", "", htmlAttributes: new { @class = "w3-bar-item w3-button w3-hover-none w3-hover-text-red" })
            </div>
        </div>
    </header>
    <div class="w3-gray">
        @RenderBody()
    </div>
    <footer class="w3-container w3-center w3-green">
        <p>
            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> - @DateTime.Now.Year by
            <span class="w3-text-red">Nguyễn </span>
            <span class="w3-text-orange">Dương </span>
            <span class="w3-text-yellow">Anh </span>
            <span class="w3-text-purple">Tuấn </span>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
